<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello {{ usager.prenom }}!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="example-wrapper">
            <h1>Hello {{ usager.prenom }}! </h1>
            Ton adresse est {{ usager.adresse }}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
